rbs_baustein_req-Dateien/WEB-INF/etc/schema.rng

<?xml version="1.0" encoding="utf-8"?>
<grammar xmlns="http://relaxng.org/ns/structure/1.0" xmlns:t="http://xmlns.cit.de/intelliform/transaction" xmlns:u="http://xmlns.cit.de/intelliform/user" xmlns:a="http://relaxng.org/ns/compatibility/annotations/1.0" datatypeLibrary="http://www.w3.org/2001/XMLSchema-datatypes">
   <start>
      <element name="myForm">
         <ref name="intelliform-attributes"/>
         <optional>
            <element name="idData">
               <ref name="EIdPersonalDataType"/>
            </element>
         </optional><!--aux field 'onlyberlin' omitted--><!--aux field 'urlrbsdata' omitted--><!--aux field 'urlrbsstrliste' omitted-->
         <optional>
            <element name="objtype">
               <a:documentation>Titel: objtype
Beschriftung: Objekttyp
</a:documentation>
               <optional>
                  <choice>
                     <value>*STRASSE*</value>
                     <a:documentation>*STRASSE*</a:documentation>
                     <value>AUTOBAHN</value>
                     <a:documentation>AUTOBAHN</a:documentation>
                     <value>AUTOBAHNABSCHNITT</value>
                     <a:documentation>AUTOBAHNABSCHNITT</a:documentation>
                     <value>BAHNHOF</value>
                     <a:documentation>BAHNHOF</a:documentation>
                     <value>BRUECKE</value>
                     <a:documentation>BRUECKE</a:documentation>
                     <value>BRUECKE_IN_PARK</value>
                     <a:documentation>BRUECKE_IN_PARK</a:documentation>
                     <value>FLUGHAFEN</value>
                     <a:documentation>FLUGHAFEN</a:documentation>
                     <value>FORST</value>
                     <a:documentation>FORST</a:documentation>
                     <value>FORSTAMT</value>
                     <a:documentation>FORSTAMT</a:documentation>
                     <value>FUSS-/RADWEG</value>
                     <a:documentation>FUSS-/RADWEG</a:documentation>
                     <value>FUSSGAENGERBRUECKE</value>
                     <a:documentation>FUSSGAENGERBRUECKE</a:documentation>
                     <value>GEWAESSER</value>
                     <a:documentation>GEWAESSER</a:documentation>
                     <value>GRUENANLAGE</value>
                     <a:documentation>GRUENANLAGE</a:documentation>
                     <value>HALBINSEL</value>
                     <a:documentation>HALBINSEL</a:documentation>
                     <value>INSEL</value>
                     <a:documentation>INSEL</a:documentation>
                     <value>KLEINGARTENANLAGE</value>
                     <a:documentation>KLEINGARTENANLAGE</a:documentation>
                     <value>OBJEKT</value>
                     <a:documentation>OBJEKT</a:documentation>
                     <value>OERTL.BEGRIFF</value>
                     <a:documentation>OERTL.BEGRIFF</a:documentation>
                     <value>PARK</value>
                     <a:documentation>PARK</a:documentation>
                     <value>PARKPLATZ</value>
                     <a:documentation>PARKPLATZ</a:documentation>
                     <value>PLATZ</value>
                     <a:documentation>PLATZ</a:documentation>
                     <value>PLATZ_IN_FORST</value>
                     <a:documentation>PLATZ_IN_FORST</a:documentation>
                     <value>PRIVATSTRASSE</value>
                     <a:documentation>PRIVATSTRASSE</a:documentation>
                     <value>SCHLEUSE</value>
                     <a:documentation>SCHLEUSE</a:documentation>
                     <value>SIEDLUNG</value>
                     <a:documentation>SIEDLUNG</a:documentation>
                     <value>SPORTSTAETTE</value>
                     <a:documentation>SPORTSTAETTE</a:documentation>
                     <value>STADTBAHNBOGEN</value>
                     <a:documentation>STADTBAHNBOGEN</a:documentation>
                     <value>STRASSE</value>
                     <a:documentation>STRASSE</a:documentation>
                     <value>STRASSE_IN_FORST</value>
                     <a:documentation>STRASSE_IN_FORST</a:documentation>
                     <value>STRASSE_IN_KGA</value>
                     <a:documentation>STRASSE_IN_KGA</a:documentation>
                     <value>STRASSE_IN_PARK</value>
                     <a:documentation>STRASSE_IN_PARK</a:documentation>
                     <value>TUNNEL</value>
                     <a:documentation>TUNNEL</a:documentation>
                     <value>VERWALTUNGSWEG</value>
                     <a:documentation>VERWALTUNGSWEG</a:documentation>
                     <value>WALDWEG</value>
                     <a:documentation>WALDWEG</a:documentation>
                     <value>WASSERWERK</value>
                     <a:documentation>WASSERWERK</a:documentation>
                     <value>WOHNSCHIFF</value>
                     <a:documentation>WOHNSCHIFF</a:documentation>
                     <value>ZUFAHRT</value>
                     <a:documentation>ZUFAHRT</a:documentation>
                  </choice>
               </optional>
            </element>
         </optional><!--aux field 'F00000053h' omitted--><!--aux field 'hnrh' omitted--><!--aux field 'F00000016h' omitted--><!--aux field 'F00000084h' omitted-->
         <element name="bisf00000016">
            <a:documentation>Titel: tohnr
Beschriftung: Hausnummer (bis)
</a:documentation>
            <ref name="assistants-text"/>
         </element>
         <element name="adrzs">
            <a:documentation>Titel: adrzs
Beschriftung: weiterer Adresshinweis
</a:documentation>
            <ref name="assistants-text"/>
         </element><!--aux field 'F00000054h' omitted--><!--aux field 'otnameh' omitted--><!--aux field 'bzrnameh' omitted--><!--aux field 'otnrh' omitted--><!--aux field 'beznrh' omitted--><!--aux field 'strnrh' omitted--><!--aux field 'F00000035h' omitted--><!--aux field 'landh' omitted--><!--aux field 'etrs89_xh' omitted--><!--aux field 'etrs89_yh' omitted-->
         <optional>
            <element name="f00000053">
               <a:documentation>Titel: F00000053
Beschriftung: F00000053:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="hnr">
               <a:documentation>Titel: hnr
Beschriftung: hnr:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="f00000016">
               <a:documentation>Titel: F00000016
Beschriftung: F00000016:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="f00000084">
               <a:documentation>Titel: F00000084
Beschriftung: F00000084:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="f00000054">
               <a:documentation>Titel: F00000054
Beschriftung: F00000054:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="otname">
               <a:documentation>Titel: otname
Beschriftung: otname:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="bzrname">
               <a:documentation>Titel: bzrname
Beschriftung: bzrname:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="otnr">
               <a:documentation>Titel: otnr
Beschriftung: otnr:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="bzrnr">
               <a:documentation>Titel: bzrnr
Beschriftung: bzrnr:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="strnr">
               <a:documentation>Titel: strnr
Beschriftung: strnr:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="f00000035">
               <a:documentation>Titel: F00000035
Beschriftung: F00000035:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="land">
               <a:documentation>Titel: land
Beschriftung: land:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="etrs89_x">
               <a:documentation>Titel: etrs89_x
Beschriftung: etrs89_x:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="etrs89_y">
               <a:documentation>Titel: etrs89_y
Beschriftung: etrs89_y:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="rbs_valid">
               <a:documentation>Titel: rbs_valid
Beschriftung: rbs_valid:
</a:documentation>
               <text/>
            </element>
         </optional>
         <optional>
            <element name="bezirk_nummer">
               <a:documentation>Titel: bezirk_nummer
Beschriftung: bezirk_nummer:
</a:documentation>
               <text/>
            </element>
         </optional>
      </element>
   </start>
   <define name="intelliform-attributes">
      <zeroOrMore>
         <attribute>
            <nsName ns="http://xmlns.cit.de/intelliform/transaction"/>
         </attribute>
      </zeroOrMore>
      <zeroOrMore>
         <attribute>
            <nsName ns="http://xmlns.cit.de/intelliform/user"/>
         </attribute>
      </zeroOrMore>
   </define>
   <define name="assistants-boolean">
      <data type="boolean">
         <param name="pattern">true|false</param>
      </data>
   </define>
   <define name="assistants-date">
      <data type="date">
         <param name="pattern">[0-9]{4}-[0-9]{2}-[0-9]{2}</param>
      </data>
   </define>
   <define name="assistants-number">
      <data type="decimal"/>
   </define>
   <define name="assistants-currency">
      <attribute name="currency">
         <data type="string">
            <param name="pattern">[A-Z]{3}</param>
         </data>
      </attribute>
      <data type="decimal"/>
   </define>
   <define name="assistants-number-unit">
      <attribute name="unit"/>
      <data type="decimal"/>
   </define>
   <define name="assistants-text">
      <data type="string"/>
   </define>
   <define name="assistants-file-element">
      <element name="file">
         <attribute name="id"/>
         <optional>
            <attribute name="length">
               <data type="long"/>
            </attribute>
         </optional>
         <optional>
            <attribute name="content-type"/>
         </optional>
         <optional>
            <attribute name="description"/>
         </optional>
         <optional>
            <attribute name="pdf-page-count">
               <data type="nonNegativeInteger"/>
            </attribute>
         </optional>
         <data type="string"/>
      </element>
   </define>
   <define name="optional-assistants-boolean">
      <choice>
         <ref name="assistants-boolean"/>
         <ref name="empty-string"/>
      </choice>
   </define>
   <define name="optional-assistants-date">
      <choice>
         <ref name="assistants-date"/>
         <ref name="empty-string"/>
      </choice>
   </define>
   <define name="optional-assistants-number">
      <choice>
         <ref name="assistants-number"/>
         <ref name="empty-string"/>
      </choice>
   </define>
   <define name="optional-assistants-number-unit">
      <attribute name="unit"/>
      <choice>
         <data type="decimal"/>
         <ref name="empty-string"/>
      </choice>
   </define>
   <define name="optional-assistants-currency">
      <attribute name="currency">
         <data type="string">
            <param name="pattern">[A-Z]{3}</param>
         </data>
      </attribute>
      <choice>
         <data type="decimal"/>
         <ref name="empty-string"/>
      </choice>
   </define>
   <define name="optional-assistants-text">
      <ref name="assistants-text"/>
   </define>
   <define name="optional-assistants-file">
      <optional>
         <ref name="assistants-file-element"/>
      </optional>
   </define>
   <define name="optional-assistants-file-multi">
      <zeroOrMore>
         <ref name="assistants-file-element"/>
      </zeroOrMore>
   </define>
   <define name="empty-string">
      <data type="string">
         <param name="length">0</param>
      </data>
   </define>
   <define name="EIdPersonalDataType">
      <optional>
         <optional>
            <element name="AcademicTitle">
               <ref name="assistants-text"/>
            </element>
         </optional>
         <optional>
            <element name="AgeVerificationResult">
               <attribute name="value">
                  <data type="positiveInteger"/>
               </attribute>
               <ref name="assistants-boolean"/>
            </element>
         </optional>
         <optional>
            <element name="ArtisticName">
               <ref name="assistants-text"/>
            </element>
         </optional>
         <element name="AuthenticationType">
            <ref name="assistants-text"/>
         </element>
         <optional>
            <element name="CommunityIdVerificationResult">
               <attribute name="value"/>
               <ref name="assistants-boolean"/>
            </element>
         </optional>
         <optional>
            <element name="DateOfBirth">
               <ref name="assistants-date"/>
            </element>
         </optional>
         <optional>
            <element name="DocumentType">
               <ref name="EIdDocumentType"/>
            </element>
         </optional>
         <optional>
            <element name="DocumentValidityReferenceDate">
               <ref name="assistants-date"/>
            </element>
         </optional>
         <optional>
            <element name="DocumentValidityStatus">
               <ref name="EIdDocumentValidityStatusType"/>
            </element>
         </optional>
         <optional>
            <element name="FamilyNames">
               <ref name="assistants-text"/>
            </element>
         </optional>
         <optional>
            <element name="BirthName">
               <ref name="assistants-text"/>
            </element>
         </optional>
         <optional>
            <element name="GivenNames">
               <ref name="assistants-text"/>
            </element>
         </optional>
         <optional>
            <element name="IssuingState">
               <ref name="EIdIcaoCountryType"/>
            </element>
         </optional>
         <optional>
            <element name="PlaceOfBirth">
               <choice>
                  <element name="FreetextPlace">
                     <ref name="assistants-text"/>
                  </element>
                  <ref name="EIdPlaceType"/>
               </choice>
            </element>
         </optional>
         <optional>
            <element name="PlaceOfResidence">
               <ref name="EIdPlaceType"/>
            </element>
         </optional>
         <optional>
            <element name="RestrictedID">
               <ref name="EIdRestrictedIdType"/>
            </element>
         </optional>
         <optional>
            <element name="TransactionAttachmentReference">
               <ref name="assistants-text"/>
            </element>
         </optional>
      </optional>
   </define>
   <define name="EIdPlaceType">
      <optional>
         <element name="City">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="Country">
            <ref name="EIdIcaoCountryType"/>
         </element>
      </optional>
      <optional>
         <element name="State">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="Street">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="Street_Name">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="Street_Number">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="Street_NumberSuffix">
            <ref name="assistants-text"/>
         </element>
      </optional>
      <optional>
         <element name="ZipCode">
            <ref name="assistants-text"/>
         </element>
      </optional>
   </define>
   <define name="EIdIcaoCountryType">
      <data type="string">
         <param name="pattern">[A-Z ]{1,3}</param>
      </data>
   </define>
   <define name="EIdDocumentType">
      <data type="string">
         <param name="pattern">[A-Z ]{2}</param>
      </data>
   </define>
   <define name="EIdRestrictedIdType">
      <data type="hexBinary"/>
   </define>
   <define name="EIdDocumentValidityStatusType">
      <value>EeIdValid</value>
   </define>
</grammar>